@use "../../style/parcials/_mixin" as *;
@use "../../style/parcials/_variables" as *;

.institutions {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    @include listDecoration();
  }
  &__image {
    width: 100%;
    border: 1px solid $border;
    padding: 0.4rem;
    background-color: $basicBackgronudWhite;
  }
  &__close {
    margin-left: auto;
    @include buttonStyle();
  }
  &__icon {
    padding: 0.01rem;
    width: 2rem;
  }
}
