@use "../../style/parcials/_mixin" as *;
@use "../../style/parcials/_variables" as *;

.institutions {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    @include listDecoration();
  }
  &__image {
    width: 100%;
    border: 1px solid $border;
    padding: 0.4rem;
    // height: 0%;
    background-color: $basicBackgronudWhite;
  }
}
