@use "../../style/parcials/_mixin" as *;
@use "../../style/parcials/_variables" as *;

.education {
  @include card();
  display: flex;
  flex-direction: column;

  &__subcontainer {
    @include listDecoration();
  }
  &__link {
    @include listDecoration();
    color: $colorText;
  }
  &__subtitle {
    @include button();

    &--active {
      // @include hover();
      @include SecActiveButton();
    }
  }
}
