@use "../../style/parcials/_mixin" as *;
@use "../../style/parcials/_variables" as *;

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include card();
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      gap: 2rem;
      flex-direction: row;
    }
  }
  &__subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      
    }
  }
  &__name{
   
    @include tablet {
      font-size: 2rem;
      width: 100%;
         }
  }
  &__image {
    background-color: $basicBackgronudWhite;

    border: 1px solid $border;
    width: 10.5rem;
    height: 11.3rem;
    border-radius: 25px;
  }
  &__article {
    // Fill the vertical height of the screen
    padding: 20px;
    width: 18rem;
  }
  &__paragraph {
    text-align: justify;
    width: 100%;
    @include tablet {
     font-size: 1.2rem;
        }
    &--botton {
      margin-bottom: 0%;
    }
  }
}
