@use "../../style/parcials/_mixin" as *;
@use "../../style/parcials/_variables" as *;

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include card();
  &__subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__image {
    background-color: $basicBackgronudWhite;

    border: 1px solid $border;
    width: 10.5rem;
    height: 11.3rem;
    border-radius: 25px;
  }
  &__article {
    // Fill the vertical height of the screen
    padding: 20px;
    width: 18rem;
  }
  &__paragraph {
    text-align: justify;
    width: 100%;
    &--botton {
      margin-bottom: 0%;
    }
  }
}
