@use "../../style/parcials/_mixin" as *;
@use "../../style/parcials/_variables" as *;

.experience {
  @include card();
  //background-image: url(../../assets/background/kristina-kashtanova-EwpUsHDmEwg-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    @include listDecoration();
    inline-size: 100%;
    display: flex;
    flex-flow: column;
    // border: 1px solid $border;

    &--subtitles {
     
      @include Titles();

     
    }
  }
  &__description {
    border: 1px solid $border;
    border-radius: 5px;
    padding: 0.4rem;
    padding-block-end: 0.8rem;
    position: absolute;
    inline-size: 19rem;
    block-size: 22rem;
    background-color:$backgroundColor2;
    display: flex;
    justify-content: center;
 

    height: calc(0.7*100%)
  }


  &__butt{
    @include closeBtn();
  }
}
