@use "../../style/parcials/_mixin" as *;
@use "../../style/parcials/_variables" as *;
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  @include listDecoration();
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  
  }
&__navegation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  @include listDecoration();
  @include tablet {

  
  }
}
&__navbar{
  border-bottom: 0.5px dotted black;
  @include tablet {
    width: calc(0.43*100vw);

   // width: 100%;
 border: none;
 
    align-self: center;
  
  }
}
  &__header {
   // 
  }


  &__link {
  
    color: $colorText;
    font-size: 0.8rem;
    @include tablet {
      font-size: 1rem;
    
    }
    &:hover {
      @include hover();
    }
    &--active {
      @include activeButton();
    }
  }
  &__list {
    width: 100%;
   // display: flex;
    justify-content: center;
    align-items: center;
    @include tablet {

  
    }
  }
  &__logo{
    @include tablet {
      width: calc(0.40*100vw);
    
    }
    width: 100%;
    &--img{
      height: 8.5rem;
    }

   
  
  }
 
}
