@use "../../style/parcials/_mixin" as *;
@use "../../style/parcials/_variables" as *;
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  &__header {
    @include border();
  }
  @include bodyFont();
  @include listDecoration();
  &__link {
    width: calc(0.8 * 100%);
    color: $colorText;
    font-size: 0.8rem;
    height: 1.2rem;
    &:hover {
      @include hover();
    }
    &--active {
      @include activeButton();
    }
  }
  &__list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__engineer {
    margin-bottom: 0%;
    &--career {
      margin-top: 0%;
    }
  }
  &__navegation {
    width: 100%;
    flex-direction: row;
  }
}
