@use "../src/style/parcials/_mixin" as *;
@use "../src/style/parcials/_variables" as *;
body {
  margin-left: 0.5rem;
  
  margin-right: 0.5rem;

  @include bodyStyle();
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
