@use "./_variables" as *;
@mixin mobile {
  @media screen and (min-width: $below-mobile-breakpoint)  {
      @content; 
  }
}

@mixin tablet {
  @media screen   and (min-width: $tablet-breakpoint)  {
      @content;
     
  }
}
@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint ) {
      @content;
  }

}
@font-face {
  font-family: "Roboto_Condensed";
  font-weight: 400;
  src: url("../../fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Poppins-Regular";
  font-weight: 400;
  src: url("../../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf")
    format("truetype");
}

@mixin bodyStyle {
  font-family: Roboto_Condensed;
  background-color: $ligthBackground;
}
@mixin listDecoration {
  list-style: none;
  padding-inline-start: 0%;
  text-decoration: none;
}

@mixin padding-top-botton {
  //  margin-block-start: 0%;
  margin-block-end: 0%;
}
@mixin activeButton {
  background-color: #d9d9d9;
  border: 1px solid $border;
  cursor: grab;

  border-radius: 5px;
}

@mixin SecActiveButton {
  // background-color: $activeBtn;
  // color: $activeTextBtn;
  border: 2px solid $buttonBorder;

  border-radius: 5px;
}
@mixin hover {
  background-color: $activeBtn;
  border-radius: 5px;
  border: 1px solid black;
}
@mixin SechHover {
  background-color: $ligthBackground;
  border-radius: 5px;
  border: 1px solid black;
}
@mixin Titles {
  block-size: 48px;
  border-radius: 5px;
  border-block-end: 1px solid black;

 cursor: grab;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block-start: 1rem;
  margin-block-end: 0.5rem;
  margin: 0%;
  &:hover {
    @include hover();
    background-color: $ligthBackground;
  }
}

@mixin card {
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin: 1rem;
  border: 1px solid $border;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background-color: #ffffffcf;
  display: flex;
  flex-direction: column;
}
@mixin buttonStyle {
  border: 2px solid $buttonBorder;
  background-color: $basicBackgronudWhite;
  inline-size: 95px;
  block-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: grab;
}
@mixin dropDownArrow {
  inline-size: 36px;
  border: 2px solid $buttonBorder;
  border-radius: 50%;
  padding: 0.1rem;

  &--down {
    transform: rotate(180deg);
    border: 2px solid $buttonBorder;

    padding: 0.1rem;
    float: inline-end;
  }
}
@mixin border {
  border-block-end: 1px dotted $border;
  
  animation: App-logo-spin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@mixin closeBtn{
background-image: url(../../assets/icons/icons8-close.svg);
background-repeat: no-repeat;
background-size: contain;
inline-size: 6rem;
block-size: 36px;
border-radius: 5px;
border-color: $buttonBorder;
background-color: $basicBackgronudWhite;

cursor: grab;
&:hover{
  border: 4px solid $buttonBorder;
}
}