@use "./_variables" as *;

@font-face {
  font-family: "Poppins-Regular-italic";
  font-weight: 400;
  src: url("../../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Poppins-Regular";
  font-weight: 400;
  src: url("../../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf")
    format("truetype");
}

@mixin bodyFont {
  font-family: Poppins-Regular;
}
@mixin listDecoration {
  list-style: none;
  padding-left: 0%;
  text-decoration: none;
}

@mixin padding-top-botton {
  //  margin-top: 0%;
  margin-bottom: 0%;
}
@mixin activeButton {
  background-color: #d9d9d9;
  border: 1px solid black;
  border: 1px $border solid;
  border-radius: 5px;
}

@mixin SecActiveButton {
  // background-color: $activeBtn;
  color: $activeTextBtn;
  border: 2px solid $buttonBorder;

  border-radius: 5px;
}
@mixin hover {
  background-color: $activeBtn;
  border-radius: 5px;
  border: 1px solid black;
}
@mixin SechHover {
  background-color: $ligthBackground;
  border-radius: 5px;
  border: 1px solid black;
}
@mixin Titles {
  height: 36px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: $activeTextBtn;
  padding: 0.1rem 0.4rem 0.1rem 0.4rem;
}

@mixin card {
  background-color: $ligthBackground;
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@mixin buttonStyle {
  border: 2px solid $buttonBorder;
  background-color: $basicBackgronudWhite;
  width: 90px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: grab;
}
