$backgroundCards: #e0e4d9;
$backgroundColor2: #124e66;
$backgroundColor3: #d3d9d4;
$ligthBackground:#ddd8d8;
$colorText: #272a2e;
$activeBtn: #919191;
$activeTextBtn: #ffffff;
$border: #262626;
$basicBackgronudWhite: #ffffff;
$buttonBorder: #2e4eef;
$timing: linear;
$duration: 3s;
$basicBackgronudWhitew: #fbe9d0;


$below-mobile-breakpoint:767px;
$tablet-breakpoint: 768px;
$below-tablet-breakpoint: 1279px;
$desktop-breakpoint: 1280px;